<h1>Categories#show</h1>
<p>Find me in app/views/categories/show.html.erb</p>


<% @categories.each do |cat| %>
    <div>
      <%= link_to category_path(cat) do %>
        <% if !cat.first_article.nil? %>
        <%= image_tag(url_for(cat.first_article.avatar))%>
        <% end %>
          <h2>
            <%= cat.name %>
          </h2>
      <% end %>
    </div>
  <% end %>




<!-- <div class="art-container">
    <div class="top-container">
        <div class="main-article">
            main
        </div>
        <div class="right-articles">
            <div class="article">
                a
            </div>
            <div class="article">
            </div>
        </div>
    </div>
    <div class="bot-container">
        <div class="article">
        </div>
        <div class="article">
        </div>
        <div class="article">
        </div>
    </div>
</div>-->