
  <% @articles.each do |art| %>
    <article class="d-flex">
    <div class="art-image">
      <%= image_tag(url_for(display_image(art))) %>
      </div>
      <div class="card-info">
        <h2 class="cat-name">
          <%= @category.name%>
        </h2>
        <h3 class="art-title">
          <%= art.title %>
        </h3>
        <div>
          <p class="art-content">
            <%= art.content %>
          </p>
        </div>
      </div>
    </article>
  <% end %>
