<h1> @category.name </h1>
<% if !@articles.empty? %>
<% @articles.each do |art| %>
<article>
  <%= image_tag(url_for(@article.avatar))%>
  <div>
    <div>
      <%= art.title %>
    </div>
    <div>
      <p>
        <%= art.content %>
      </p>
    </div>
  </div>
</article>
<% end %>
<% end %>